<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h4>Agregar Celular</h4>
<form action="/celulares/agregar" method="POST">
    <div>
        <label for="clave">Escribe la clave: </label>
        <input type="text" name="clave" placeholder="Clave" id="clave" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="marca">Escribe la marca: </label>
        <input type="text" name="marca" placeholder="Marca" id="marca" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="precio">Escribe el precio: </label>
        <input type="text" name="precio" placeholder="Precio" id="precio" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="fechaLanzamiento">Fecha de Lanzamiento: </label>
        <input type="date" name="fechaLanzamiento" placeholder="Fecha de Lanzamiento" id="fechaLanzamienti" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="RAM">RAM: </label>
        <input type="text" name="RAM" placeholder="RAM" id="RAM" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="almacenamiento">Almacenamiento: </label>
        <input type="text" name="almacenamiento" placeholder="Almacenamiento" id="almacenamiento" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="cantCamaras">Cantidad de Camaras: </label>
        <input type="text" name="cantCamaras" placeholder="cantCamaras" id="cantCamaras" class="form-control bg-dark text-white"/>
    </div>
    <button class="btn btn-success btn-sm mt-2">Agregar</button>

</form>
</div>