<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> celulares/celularForm}}
        </div>
        <div class="col-md-7">
            {{> celulares/celularTabla}}
        </div>
    </div>
</div>





