 <h1>My app</h1>
    <ul>
        <li> <a href="/">Inicio</a></li>
        <li><a href="/alumnos/agregar">Agregar alumnos</a></li>
        <li><a href="/asignaturas/agregar">Agregar asignaturas</a></li>
        <li><a href="/profesores/agregar">Agregar profesores</a></li>
    </ul>